In [10]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

In [16]:
df = pd.read_csv("./final_dataset/Colleges_final_data_1.csv")

In [20]:
df.head()

,College_Code,College_Name,Branch_Code,Branch_Name,Cutoff_Merit_No,Cutoff_Percentile
0,1002,"Government College of Engineering, Amravati",100219110,Civil Engineering,39713,88.248475
1,1002,"Government College of Engineering, Amravati",100219110,Civil Engineering,41066,87.915931
2,1002,"Government College of Engineering, Amravati",100219110,Civil Engineering,49772,85.113912
3,1002,"Government College of Engineering, Amravati",100219110,Civil Engineering,44576,86.682749
4,1002,"Government College of Engineering, Amravati",100219110,Civil Engineering,70376,78.434257

In [22]:
print(df.columns)

Index(['College_Code', 'College_Name', 'Branch_Code', 'Branch_Name',
       'Cutoff_Merit_No', 'Cutoff_Percentile'],
      dtype='object')

In [23]:
df.isnull().sum()

College_Code         0
College_Name         0
Branch_Code          0
Branch_Name          0
Cutoff_Merit_No      0
Cutoff_Percentile    0
dtype: int64